.form {
  
    
    padding-bottom: 144px;
    padding-top: 127px;
    display: flex;
    flex-direction: column;
    row-gap: 74px;
    align-items: flex-start;

    &__top {
      
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 188%;
        color: #fff;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 188%;
        color: #fff;
    }

    &__bottom {

       
        display: flex;
        flex-direction: row;
        column-gap: 42px;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        width: 1170px;
        height: 189px;
        background: #1B1B1B;
        background-size: 100vw;
        padding: 40px 50px;
       

    }

    &__left {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
        width: 636px;
        height: 107px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 30px;
        color: #fff;
    }


    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 8px;
        width: 385px;
        height: 48px;


        background: #fff;
    }


    &__input {

        font-weight: 300;
        font-size: 13px;
        // text-align:center;
        color: #000000;
        padding-left: 20px;
        width: 155px;
        height: 20px;
        border: none;

        &:focus {
            border: none;
            outline: none;
        }

        &::placeholder {
            font-weight: 300;
            font-size: 13px;
            text-align: center;
            color: #898989;
        }

    }

    &__btn {
        background: #dc7000;
        border-radius: 8px;
        width: 104px;
        height: 37px;

        font-weight: 400;
        font-size: 13px;
        text-align: center;
        color: #fff;
        border: 0;
        cursor: pointer;
    }
}