.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
    padding-bottom: 100px;
    column-gap: 100px;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
    }

    &__link>a {
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 209%;
        color: #fff;
    }

    &__link:last-child>a {
        color: #E47500;
    }

    &__title {
        font-weight: 600;
        font-size: 33px;
        line-height: 180%;
        text-align: center;
        color: #fff;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 188%;
        text-align: center;
        color: #fff;
    }

    &__inputWrapper {
        width: 400px;
        border-radius: 10px;
        background-color: #1C140F;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 19px;
        padding: 9px 25px;

        margin-top: 74px;
        margin-bottom: 103px;
    }

    &__input {
        background-color: #1C140F;
        width: 350px;
        border: 0;
        outline: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 189%;
        color: #fff;

        &-icon {
            cursor: pointer;
        }
    }

    &__banner {
        margin-top: 93px;
        margin-bottom: 63px;
    }

    ;

    &__contacts {
        display: flex;
        flex-direction: row;

        align-items: center;

    }

    &__social {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        padding-right: 97px;

        border-right: 1px solid #fff;

        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 189%;
            color: #fff;
        }

    }

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 16px;


    }

    &__phone {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        align-items: center;
        column-gap: 25px;
        padding-left: 104px;
        padding-right: 110px;
        // padding-top: 43px;
        // padding-bottom: 43px;
        height: 117px;
        border-right: 1px solid #fff;

        &-text {
            font-weight: 300;
            font-size: 20px;
            color: #fff;
        }
    }

    &__map {
        display: flex;
        flex-direction: row;
        column-gap: 22px;
        padding-left: 98px;
        cursor: pointer;

        &-text {
            font-weight: 300;
            font-size: 20px;
            color: #fff;

            width: 325px;
        }
    }
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1C140F;
    border-radius: 10px;
    padding-top: 37px;
    padding-bottom: 37px;

    &__item {
        height: 126px;
        display: flex;
        flex-direction: row;
        width: 200px;
        column-gap: 36px;
        border-right: 2px solid #eeeff2;
        padding-right: 118px;
        padding-left: 91px;

        justify-content: center;
        align-items: center;

        &:last-child {
            border-right: 0px;
        }
    }

    &__avatar {
        width: 55px;
        height: 55px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        color: #fff;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
    }
}