@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button{
  cursor: pointer;
  border: 0;
}

.wrapper {
  background: -webkit-linear-gradient(
    90deg,
    #000000,
    #000000,
    #4a2800
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #000000,
    #000000,
    #4a2800
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;

  
}

.container {
  width: 1400px;
  margin: 0 auto;
}

// modules
@import "./modules/header";
@import "./modules/form";
@import "./modules/footer";
@import "./modules//intro";

// home styles
@import "./home/hero";
@import "./home/trends";
@import "./home/banner";
@import "./home/studios";
@import "./home/projects";


//about-us styles
@import "./about-us/top";
@import "./about-us/comments";
@import "./about-us/team";
@import "./about-us/updates";  
@import "./about-us/form-about";

//services styles

@import "./services/feed";
@import "./services/reviews";


//news styles
@import "./news/news";

//contacts style
@import "../style/contacts/feedback"