@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper { /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #000000, #000000, #4a2800); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.header {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -moz-column-gap: 36px;
       column-gap: 36px;
  align-items: center;
}
.header__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 88px;
       column-gap: 88px;
  align-items: center;
}
.header__list-item {
  display: inline-block;
}
.header__list-item:not(.btn) a:hover {
  border-bottom: 5px solid #dc7000;
}
.header__list-item > a {
  color: #fff;
}
.header__btn {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  border-radius: 6px;
  width: 131px;
  height: 41px;
  background: #fa9021;
}
.header__btn:hover {
  cursor: pointer;
}

.form {
  margin-bottom: 163px;
  display: flex;
  flex-direction: column;
  row-gap: 74px;
  align-items: flex-start;
}
.form__top {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.form__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 188%;
  color: #fff;
}
.form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #fff;
}
.form__bottom {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 42px;
       column-gap: 42px;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 1170px;
  height: 189px;
  background: #1c140f;
  background-size: 100vw;
  padding: 40px 50px;
}
.form__left {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  width: 636px;
  height: 107px;
}
.form__subtitle {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}
.form__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  width: 385px;
  height: 48px;
  background: #fff;
}
.form__input {
  font-weight: 300;
  font-size: 13px;
  color: #000000;
  padding-left: 20px;
  width: 155px;
  height: 20px;
  border: none;
}
.form__input:focus {
  border: none;
  outline: none;
}
.form__input::-moz-placeholder {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #898989;
}
.form__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #898989;
}
.form__btn {
  background: #dc7000;
  border-radius: 8px;
  width: 104px;
  height: 37px;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.footer {
  background-color: #070707;
  padding: 80px 50px 0px 50px;
}
.footer__main {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 100px;
       column-gap: 100px;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 0.8px solid #d2d2d2;
  padding-bottom: 53px;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}
.footer__text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 372px;
}
.footer__tag {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.footer__about {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}
.footer__links {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 186%;
  color: #fff;
  list-style-type: none;
}
.footer__contact {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  list-style-type: none;
}
.footer__social {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: flex-end;
}
.footer__icon:hover {
  cursor: pointer;
}
.footer__rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__rights-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 191%;
  color: #fff;
  padding-top: 29px;
  padding-bottom: 29px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -moz-column-gap: 300px;
       column-gap: 300px;
  padding-bottom: 132px;
}
.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 155%;
  color: #e87d0e;
  padding-bottom: 17px;
}
.hero__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 155%;
  color: #fff;
  padding-bottom: 26px;
}
.hero__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #fff;
  width: 527px;
  padding-bottom: 50px;
}
.hero__btn {
  width: 195px;
  height: 53px;
  background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.hero__img {
  width: 929px;
  height: 761px;
}

.trends {
  display: flex;
  flex-direction: column;
  row-gap: 57px;
  padding-bottom: 130px;
}
.trends__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trends__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 188%;
  color: #fff;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  width: 139px;
  height: 57px;
  cursor: pointer;
  margin: 10px 30px;
}
.trends__items {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 47px;
       column-gap: 47px;
  justify-content: space-between;
}
.trends__item {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}
.trends__item-followers {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 170px;
  height: 41px;
  font-weight: 500;
  font-size: 22px;
  line-height: 188%;
  color: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 157px;
}
.banner__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 188%;
  text-align: center;
  color: #fff;
  width: 826px;
  padding-bottom: 67px;
  margin-left: 25%;
  margin-right: 25%;
}
.banner__content {
  display: flex;
  flex-direction: column;
}
.banner__subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 188%;
  color: #fff;
  padding-bottom: 32px;
}
.banner__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #fff;
  width: 545px;
  padding-bottom: 46px;
}
.banner__img {
  border-radius: 5px;
  width: 1146px;
}

.studios {
  background-image: url("../img/studios-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.studios__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 188%;
  text-align: center;
  color: #fff;
  padding-top: 93px;
  padding-bottom: 25px;
  width: 826px;
}
.studios__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  color: #fff;
  padding-bottom: 99px;
  width: 820px;
}
.studios__items {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 95px;
       column-gap: 95px;
  row-gap: 62px;
  justify-content: center;
  padding-bottom: 92px;
  flex-wrap: wrap;
}
.studios__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px;
  width: 205px;
  align-items: center;
}
.studios__item-img {
  width: 65px;
  height: 65px;
}
.studios__item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 188%;
  color: #fff;
  width: 220px;
  text-align: center;
}
.studios__item-link {
  width: 21px;
  height: 21px;
}

.projects {
  padding-top: 141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 188%;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}
.projects__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  text-align: center;
  color: #fff;
  padding-bottom: 71px;
}
.projects__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 27px;
       column-gap: 27px;
  row-gap: 33px;
  padding-bottom: 72px;
}
.projects__btn {
  border-radius: 10px;
  width: 139px;
  height: 57px;
  font-weight: 500;
  font-size: 20px;
  line-height: 188%;
  color: #fff;
  background: rgba(255, 255, 255, 0.11);
  margin-bottom: 105px;
  cursor: pointer;
}

.top {
  padding-bottom: 144px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 166px;
       column-gap: 166px;
}
.top__left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.top__links {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.top__link {
  list-style-type: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 209%;
  color: #fff;
}
.top__link > a {
  text-decoration: none;
  color: #fff;
}
.top__link:last-child > a {
  color: #e47500;
}
.top__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  color: #fff;
}
.top__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 209%;
  color: #fff;
}
.top__btn {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 40px;
  width: 176px;
  height: 47px;
  background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
  padding-right: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.comments {
  display: flex;
  flex-direction: column;
  row-gap: 63px;
}
.comments__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 180%;
  color: #fff;
}
.comments__cards {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 43px;
       column-gap: 43px;
  justify-content: space-evenly;
  padding-bottom: 147px;
}
.comments__card {
  box-shadow: 0 4px 94px 0 rgba(0, 0, 0, 0.15);
  background: #1c140f;
  border-radius: 20px;
  width: 378px;
  display: flex;
  flex-direction: column;
  padding: 64px 37px;
  row-gap: 17px;
}
.comments__category {
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  width: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  color: #fff;
}
.comments__category--first {
  background: rgba(176, 0, 220, 0.11);
}
.comments__category--second {
  background: rgba(220, 66, 0, 0.11);
}
.comments__category--last {
  background: rgba(0, 220, 141, 0.11);
}
.comments__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 188%;
  color: #fff;
}
.comments__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  color: #fff;
  width: 304px;
}

.team {
  display: flex;
  flex-direction: column;
  row-gap: 53px;
  padding-bottom: 157px;
}
.team__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 180%;
  color: #fff;
}
.team__cards {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 28px;
       column-gap: 28px;
  justify-content: space-around;
}
.team__card {
  background-color: #1C140F;
  padding-top: 35px;
  padding-bottom: 30px;
  border-radius: 20px;
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__avatar {
  width: 117px;
  height: 117px;
}
.team__name {
  font-weight: 600;
  font-size: 19px;
  line-height: 203%;
  color: #fff;
}
.team__position {
  font-weight: 300;
  font-size: 16px;
  line-height: 203%;
  color: #e8e8e8;
}

.news {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 95px;
       column-gap: 95px;
  align-items: center;
  background-color: #1C140F;
  margin-bottom: 148px;
}
.news__img {
  width: 496px;
  height: 490px;
  padding-top: 113px;
  padding-left: 110px;
}
.news__container {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding-right: 200px;
  padding-top: 21px;
}
.news__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 203%;
  color: #fff;
}
.news__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 158%;
  color: #fff;
  width: 531px;
}
.news__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 203%;
  color: #fff;
  width: 536px;
}

.form__about {
  background-color: #1C140F;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
  padding-bottom: 100px;
}
.intro__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.intro__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}
.intro__link > a {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 209%;
  color: #fff;
}
.intro__link:last-child > a {
  color: #E47500;
}
.intro__title {
  font-weight: 600;
  font-size: 33px;
  line-height: 180%;
  text-align: center;
  color: #fff;
}
.intro__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  color: #fff;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1C140F;
  border-radius: 10px;
  padding-top: 37px;
  padding-bottom: 37px;
}
.stats__item {
  height: 126px;
  display: flex;
  flex-direction: row;
  width: 200px;
  -moz-column-gap: 36px;
       column-gap: 36px;
  border-right: 2px solid #eeeff2;
  padding-right: 118px;
  padding-left: 91px;
  justify-content: center;
  align-items: center;
}
.stats__item:last-child {
  border-right: 0px;
}
.stats__avatar {
  width: 55px;
  height: 55px;
}
.stats__subtitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #fff;
}
.stats__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 180px;
  padding-bottom: 168px;
}

.post {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 250px;
       column-gap: 250px;
}
.post__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.post__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 180%;
  color: #fff;
  width: 472px;
}
.post__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  color: #fff;
  width: 427px;
}
.post__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
.post__list > li {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.post__btn {
  width: 177px;
  height: 50px;
  background: #dc7000;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.reviews {
  padding: 88px 109px 60px 109px;
  margin-bottom: 187px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C140F;
}
.reviews__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.reviews__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  color: #fff;
  width: 447px;
}
.reviews__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  text-align: center;
  color: #fff;
  width: 555px;
}
.reviews__bottom {
  width: 1300px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  justify-content: space-between;
}
.reviews__arrows {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.reviews__arrow {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
.reviews__current {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
}
.reviews__bar {
  border-radius: 100%;
  background-color: #dde0e4;
  width: 15px;
  height: 15px;
}
.reviews__bar:hover {
  background-color: #dc7000;
  width: 30px;
  height: 15px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 400px;
  height: 230px;
}
.review:hover {
  background: #0f0901;
  border: 2px solid #dc7000;
  cursor: pointer;
}
.review__top {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.review__avatar {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.review__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 77px;
}
.review__author {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: #fff;
  width: 150px;
}
.review__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
}
.review__rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #fff;
}
.review__star {
  padding-left: 10px;
}
.review__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 188%;
  color: #fff;
  width: 340px;
}
.review__arrow-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review__arrow {
  content: url("../../img/Button/Button/act/right.svg");
}/*# sourceMappingURL=style.css.map */