.reviews {
    display: flex;
    flex-direction: column;
    row-gap: 63px;

    &__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 180%;
        color: #fff;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        column-gap: 43px;
        justify-content: space-evenly;

        padding-bottom: 147px;
    }

    &__card {
        box-shadow: 0 4px 94px 0 rgba(0, 0, 0, 0.15);
        background: #1c140f;
        border-radius: 20px;
        width: 378px;
        display: flex;
        flex-direction: column;
        padding: 64px 37px;
        row-gap: 17px;
    }




    &__category {

        &--first {
            background: rgba(176, 0, 220, 0.11);
        }

        &--second {
            background: rgba(220, 66, 0, 0.11);
        }

        &--last {
            background: rgba(0, 220, 141, 0.11);
        }


        border-radius: 8px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 14px;
        width: 140px;

        font-weight: 400;
        font-size: 14px;
        line-height: 188%;
        color: #fff;

    }

    &__subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 188%;
        color: #fff;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 188%;
        color: #fff;
        width: 304px;
    }
}