.team {

    display: flex;
    flex-direction: column;
    row-gap: 53px;
    padding-bottom: 157px;
    
    &__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 180%;
        color: #fff;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        column-gap: 28px;
        justify-content: space-around;
    }

    &__card {

        background-color: #1C140F;
        padding-top: 35px;
        padding-bottom: 30px;
        border-radius: 20px;
        width: 295px;
       
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    &__avatar {
        width: 117px;
        height: 117px;
    }

    &__name {
        font-weight: 600;
        font-size: 19px;
        line-height: 203%;
        color: #fff;
    }

    &__position {
        font-weight: 300;
        font-size: 16px;
        line-height: 203%;
        color: #e8e8e8;
    }

}