.feedback {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #1c140f;
    padding-top: 54px;
    padding-bottom: 63px;


    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 79px;

    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 189%;
        color: #fff;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 13px;
        line-height: 189%;
        text-align: center;
        color: #fff;
    }

    &__form {
        display: flex;
        flex-direction: row;
        width: 671px;
        flex-wrap: wrap;
        gap: 20px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }

        &-label {
            font-weight: 500;
            font-size: 14px;
            line-height: 175%;
            letter-spacing: -0.02em;
            color: #4f4f4f;
        }

        &-fname {
            background: rgba(255, 255, 255, 0.07);
            border: 0.60px solid #cecece;
            border-radius: 9px;
            width: 312px;
            height: 56px;

            color: #fff;
            padding-left: 10px;
        }

        &-lname {
            border: 0.60px solid #cecece;
            border-radius: 9px;
            width: 312px;
            height: 56px;
            background: rgba(255, 255, 255, 0.07);

            color: #fff;
            padding-left: 10px;
        }

        &-email {
            border: 0.60px solid #cecece;
            border-radius: 9px;
            width: 661px;
            height: 56px;
            background: rgba(255, 255, 255, 0.07);
        
            color: #fff;
            padding-left: 10px;
        }

        &-message {
            border: 0.60px solid #cecece;
            border-radius: 9px;
            width: 661px;
            height: 222px;
            background: rgba(255, 255, 255, 0.07);
            color: #fff;
            padding-top: 10px;
            padding-left: 10px;
        }

        &-btn {
            border-radius: 10px;
            width: 193px;
            height: 57px;
            background: #dc7000;
            font-weight: 400;
            font-size: 16px;
            line-height: 204%;
            color: #fff;

            border: 0;
            cursor: pointer;
            margin-left: 478px;
            margin-top: 51px;
        }
    }
}