.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 180px;
    padding-bottom: 168px;
}

.post {
    display: flex;
    flex-direction: row;
    column-gap: 250px;


    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

    }

    &__subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 180%;
        color: #fff;

        width: 472px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 188%;
        color: #fff;

        width: 427px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 19px;

        &>li {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
        }
    }

    &__btn {
        width: 177px;
        height: 50px;
        background: #dc7000;

        font-weight: 400;
        font-size: 16px;
        color: #fff;

        cursor: pointer;
    }
}