.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
    margin-bottom: 77px;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
    }

    &__link>a {
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 209%;
        color: #fff;
    }

    &__link:last-child>a {
        color: #E47500;
    }

    &__title {
        font-weight: 600;
        font-size: 33px;
        line-height: 180%;
        text-align: center;
        color: #fff;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 188%;
        text-align: center;
        color: #fff;
    }

}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1C140F;


    &__item {
        display: flex;
        flex-direction: row;
        width: 200px;
        column-gap: 36px;
        border-right: 2px solid #eeeff2;
        padding:67px 118px 67px 91px;
        justify-content: center;
    }

    &__avatar {
        width: 55px;
        height: 55px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        color: #fff;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
    }
}