.reviews {
    padding: 88px 109px 60px 109px;
    margin-bottom: 187px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C140F;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 143%;
        text-align: center;
        color: #fff;

        width: 447px;
    }

    &__subtext {
        font-weight: 400;
        font-size: 14px;
        line-height: 188%;
        text-align: center;
        color: #fff;
        width: 555px;
    }

    &__bottom {
        width: 1300px;
        display: flex;
        flex-direction: row;

        margin-top: 60px;

        justify-content: space-between;

    }

    &__arrows {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;


    }

    &__arrow {

        cursor: pointer;
        width: 60px;
        height: 60px;



    }

    // &__arrow-right {
    //     background: url('../img/Button/nonact/right.svg');
    //     width: 60px;
    //     height: 60px;
    //     border: 0;
    // }

    &__current {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        align-items: center;
    }

    &__bar {
        border-radius: 100%;
        background-color: #dde0e4;
        width: 15px;
        height: 15px;

        &:hover {
            background-color: #dc7000;


            width: 30px;
            height: 15px;
            border-radius: 15px;
            transition: all 0.2s ease-in;
            cursor: pointer;
        }
    }
}

.slider {
    display: flex;
    flex-direction: row;
    column-gap: 20px;


}

.review {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    border: 2px solid #ddd;
    border-radius: 10px;
    width: 400px;
    height: 230px;

    &:hover {
        background: #0f0901;
        border: 2px solid #dc7000;
        cursor: pointer;
    }

    &__top {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-right: 77px;

    }

    &__author {
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        color: #fff;

        width: 150px;
    }

    &__location {
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color: #4f5665;
    }

    &__rating {
        font-weight: 400;
        font-size: 16px;
        line-height: 188%;
        color: #fff;
    }


    &__star {
        padding-left: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 188%;
        color: #fff;

        width: 340px;
    }

    &__arrow-svg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__arrow {
        content: url('../../img/Button/Button/act/right.svg');
    }
}