.studios {
  background-image: url("../img/studios-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 188%;
    text-align: center;
    color: #fff;
    padding-top: 93px;
    padding-bottom: 25px;
    width: 826px;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    text-align: center;
    color: #fff;
    padding-bottom: 99px;
    width: 820px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    column-gap: 95px;
    row-gap: 62px;
    justify-content: center;
    // width: 900px;

    padding-bottom: 92px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 30px;
    width: 205px;
    align-items: center;

    &-img {
      width: 65px;
      height: 65px;
    }

    &-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 188%;
      color: #fff;
      width: 220px;
      text-align: center;
    }

    &-link {
      width: 21px;
      height: 21px;
    }

    &:hover{
      cursor: pointer;
    }
  }
}
